fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
httpx
motor
pymongo
google-auth
slowapi
tenacity
email-validator
python-multipart
google-generativeai
authlib
python-jose[cryptography]
passlib
bcrypt==4.0.1
PyJWT
Pillow